<nav class="main-header navbar navbar-expand navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link bg-info rounded dropdown-toggle" href="#" id="navbarVersionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ site.version }}
      </a>
      <div class="dropdown-menu py-0" aria-labelledby="navbarVersionDropdown">
        <a class="dropdown-item bg-info disabled" href="#">{{ site.version }}</a>
        <a class="dropdown-item" href="https://adminlte.io/docs/3.1/">v3.1</a>
        <a class="dropdown-item" href="https://adminlte.io/docs/3.0/">v3.0</a>
      </div>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item d-none d-sm-inline-block">
      <a href="{% static 'index3.html' %}" class="nav-link">Home</a>
    </li> -->
    <li class="nav-item">
      <div class="theme-switch-wrapper nav-link">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </li>
    <!-- <li class="nav-item">
      <em class="nav-link">Enable Dark Mode!</em>
    </li> -->
  </ul>

  <!-- SEARCH FORM -->
  <!-- <form class="form-check-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form> -->
</nav>
